@import "colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: "SF Pro Display","JetBrainsMono Nerd Font", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @on_surface;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock,
#pulseaudio,
#network,
#battery,
#tray{
    padding: 4px 6px;
    border-radius:100px;
    margin: 4px;
    background-color: @primary;
    color: #121212;
}

