@import "colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: "SF Pro Display","JetBrainsMono Nerd Font", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @primary;
}

#workspaces button {
    padding: 2px 10px;
    border-radius:10px;
    margin: 4px 1px;
    background-color: @secondary;
    color: @on_secondary;
}

#workspaces button.active {
    background-color: @on_background;
    color: @on_primary;
}


#clock,
#pulseaudio,
#network,
#battery,
#tray{
    padding: 4px 6px;
    border-radius:100px;
    margin: 4px;
    background-color: @secondary;
    color: @on_primary;
}

